.Home-heading {
  font-size: 32px;
  margin-bottom: 32px;
}
.Home-text {
  font-size: 16px;
  margin: 16px 0;
}
.UserHeader {
  width: 600px;
  margin: 0 auto;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  background-color: #f1edf7;
  padding: 16px 16px;
  border-radius: 4px;
}
.UserHeader-signOut {
  color: black;
}
.FlashContainer {
  padding: 12px 40px;
  margin: 0 auto;
  list-style: none;
  border-radius: 4px;
  text-align: center;
}
.Error {
  padding: 12px 12px;
  color: #dc2626;
  background-color: #fee2e2;
}
.Success {
  padding: 12px 12px;
  color: #059669;
  background-color: #ecfdf5;
}
